services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: api
    restart: unless-stopped
    ports:
      - "${API_PORT}:8080"
    env_file:
      - .env
    networks:
      - app_net

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - app_net

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "${GRAFANA_PORT}:3000"
    env_file:
      - .env
    networks:
      - app_net

networks:
  app_net:
    driver: bridge