services:
  api:
    build: 
      context: ..
      dockerfile: docker/Dockerfile    
    container_name: api
    restart: unless-stopped
    ports:
      - "23848:8080"
    networks:
      - internal

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - internal

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - internal

networks:
  internal:
    driver: bridge
