services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: api
    restart: unless-stopped
    ports:
      - "8080:8080"
    networks:
      - app_net

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - app_net

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - app_net

networks:
  app_net:
    driver: bridge